*{
	margin:0 auto;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family:Microsoft YaHei;
}

.clear{
	clear:both;
}

#head{
	width:100%;
	background-color:#F5F6F8;
}

.head_{
	width:990px;
	height:100px;
	background:#F5F6F8;
}

.logo{
	margin-top:14px;
	margin-left:22px;
}

.nav{
	float:right;
	margin-top:33px;
	margin-right:58px;
}

.nav li{
	float:left;
}

.line{
	float:left;
	color:#797373;
	margin-left:23px;
	margin-right:17px;
}

.nav a:link     {color: #797373;}	/* 鏈闂殑閾炬帴 */
.nav a:visited	{color: #797373;}	/* 宸茶闂殑閾炬帴 */
.nav a:hover   	{color: #797373;}	/* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */
.nav a:active  	{color: #797373;}	/* 閫夊畾鐨勯摼鎺�*/


.navbar{
	width:990px;
	height:66px;
	padding-top:135px;
	background:url(../imgs/banner.png);
}

.navbar2{
	margin-left:182px;
}

.navbar li{
	float:left;
	width:102px;
	height:50px;
	background:#FFF;
	text-align:center;
	line-height:50px;
}

.navbar img{
	float:left;
}

.navbar a:link      {color:#919090;}	/* 鏈闂殑閾炬帴 */
.navbar a:visited	{color:#919090;}	/* 宸茶闂殑閾炬帴 */
.navbar a:hover   	{color:#919090;}	/* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */
.navbar a:active  	{color:#919090;}	/* 閫夊畾鐨勯摼鎺�*/
/*瀵艰埅缁撴潫*/

.banner{
	display:block;
}

#content{
	width:100%;
	height: 100%;
	overflow: hidden;
	background:#F5F6F8;
	padding-bottom:10px;
}

.main{
	width:990px;
}

.left{
	width:269px;
	float:left;
	margin-top:96px;
	margin-bottom:20px;
}

.search{
	width:167px;
	height:243px;
	float:left;
	margin-left:70px;
}

.left_margin{
	margin-left:10px;
	width:157px;
	height:11px;
	background:#FFF;
}

.left_title{
	width:167px;
	height:35px;
	background:url(../imgs/left_title.gif);
	line-height:27px;
	font-size:14px;
	color:#FBFCFE;
}

.left_title p{
	margin-left:22px;
}	

.form{
	background:#FFF;
	padding-bottom:10px;
}

.left_cho{
	width:157px;
	margin-left:10px;
	background:#FFF;
	font-size:14px;
}

.select{
	border-style: none none solid none;
	background:#FFF;
	width:138px;
	margin-left:10px;
	margin-top:14px;
	color:#B5B6B1;
}

.submit{
	background-image:url(../imgs/search.gif);
	border:0px;
	width:111px;
	height:37px;
	color:#FCFCFD;
	margin-left:21px;
	margin-top:21px;
}

.right{
	float:left;
	width:650px;
	margin-left:32px;
	margin-top:33px;
	margin-bottom:10px;
}

.title{
	width:632px;
	height:51px;
	background-color:#4F75B1;
}

.name{
	float:left;
	color:#FFF;
	line-height:51px;
	margin-left:11px;
	font-weight:bold;
}

.path{
	float:right;
	margin-right:16px;
	font-size:14px;
	line-height:51px;
}

.sign{
	color:#FFF;
	background-color:#4F75B1;
}

.path a:link    	{color:  #FFF;}	/* 鏈闂殑閾炬帴 */
.path a:visited		{color:  #FFF;}	/* 宸茶闂殑閾炬帴 */
.path a:hover   	{color:  #FFF;}	/* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */
.path a:active  	{color:  #FFF;}	/* 閫夊畾鐨勯摼鎺�*/

.title2{
	line-height:55px;
	font-size:15px;
	color:#8E8F91;
	margin-left:6px;
}

.week li{
	float:left;
	width:46px;
	height:46px;
	line-height:46px;
	font-size:14px;
	margin-right:82px;
	background:url(../imgs/noactive.png) bottom no-repeat;
}

.main table{
	width:634px;
	height:211px;
	border:solid #FE7844 1px;
	border-radius:8px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:9px;
	background:#FFF;
}

.new_title{
	line-height:34px;
	height:36px;
	width:113px;
	font-size:14px;
	color:#9A9D9E;
	background:url(../imgs/tb_bottom1.png) bottom no-repeat;
	border-right:solid 1px #E5E6E7;
}

.last_title{
	line-height:34px;
	height:36px;
	width:113px;
	font-size:14px;
	color:#9A9D9E;
	background:url(../imgs/tb_bottom1.png) bottom no-repeat;
}

.main table tr td{
	line-height:29px;
	width:113px;
	text-align:center;
	font-size:14px;
	color:#A5A8A7;
	border-right:solid #E5E6E7 1px;
	border-bottom:solid #E5E6E7 1px; 
}

.main table  tr a:link    	{color:#A5A8A7; font-size:14px;}	/* 鏈闂殑閾炬帴 */
.main table  tr a:visited		{color:#A5A8A7; font-size:14px;}	/* 宸茶闂殑閾炬帴 */
.main table  tr a:hover   	{color:#A5A8A7;font-size:14px;}	/* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */
.main table  tr a:active  	{color:#A5A8A7;font-size:14px;}	/* 閫夊畾鐨勯摼鎺�*/

.main table tr .last{
	line-height:29px;
	text-align:center;
	font-size:14px;
	color:#A5A8A7;
	border-right:none;
}

#footer{
	width:100%;
	height:49px;
	background:#4F76B1;
	padding-top:12px;
}

.footer_p{
	text-align:center;
	font-size:12px;
	color:#FFF;
	line-height:23px;
}