#help_content{font-size: 14px;}
.paragraph h1{font-size: 1.2em; color:#69A6C6; margin:8px 0;}
.paragraph h2{font-size: 1.2em; color:#69A6C6; margin:8px 0;}
.paragraph h3{font-size: 1.2em; color:#69A6C6; margin:8px 0;}
.paragraph img{margin:8px 0;border:1px #999 solid;}
/***********************************************************************/
